spring:
  application:
    name: kube-spring-boot-demo
  datasource:
    url: jdbc:postgresql://kube-demo-db:5432/kubedemo
    username: kubekube
    password: kubedemo123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
server:
  port: 8090